
.icon-search:before { content: '\e800'; } /* '' */
.icon-list-alt:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-truck:before { content: '\e803'; } /* '' */